* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-image: url(../assets/train-bg.78d6d843.jpg);
    background-size: cover;
    color: #666;
    -webkit-text-size-adjust: 100%;
    font-size: 3.58974359vw;
    padding-bottom: env(safe-area-inset-bottom);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* 底部点击语言录制按钮 */
.bottom {
    text-decoration: none;
    margin: 0 2.56410256vw;
    width: 94.87179487vw;
    height: 12.30769231vw;
    line-height: 12.30769231vw;
    background: linear-gradient(247deg, #5c67ff 15.1%, #e270ff 84.9%), linear-gradient(90deg, #e270ff, #5c67ff);
    position: fixed;
    bottom: 2.56410256vw;
    padding: 3.07692308vw 4.1025641vw;
    border-radius: 25.64102564vw;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 4.1025641vw;
    gap: 1.02564103vw;
    font-weight: 600;
    border: none;
    align-items: center;
}

/* 任务场景 紫色*/
.tag {
    width: 14.35897436vw;
    height: 5.12820513vw;
    font-size: 3.07692308vw;
    line-height: 5.12820513vw;
    color: white;
    text-align: center;
    border-radius: 1.02564103vw;
    background: linear-gradient(237deg, #5c67ff 17.4%, #e270ff 87.02%), #707aff;
    margin-bottom: 5.12820513vw;
}